version: "3.8"

services:
  #MariaDB 서비스
  db:
    image: mariadb:11
    container_name: mariadb
    env_file: .env
    expose:
      - "3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - backend

  #Spring Boot
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chatgraph-be
    env_file: .env
    environment:
      - MARIADB_HOST=db
      #로컬 도커 컨테이너
      - NEO4J_URI=bolt://host.docker.internal:7687
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - backend

  #Nginx 프록시
  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
        #- ./nginx/certs:/etc/nginx/ssl
        #- ./nginx/docker-entrypoint.sh:/docker-entrypoint.sh:ro
      # let's encrypt
      - ./certbot/www/:/var/www/certbot/:rw
      - /etc/letsencrypt/live/api.chatgraph.site/:/etc/letsencrypt/live/api.chatgraph.site:ro
      - /etc/letsencrypt/archive/api.chatgraph.site/:/etc/letsencrypt/archive/api.chatgraph.site:ro
      #entrypoint: ["/bin/bash", "/docker-entrypoint.sh"]
    depends_on:
      - app
    networks:
      - backend

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Docker 데몬에 접근하기 위한 소켓 마운트 (필수)
      - portainer_data:/data
    networks:
      - backend


volumes:
  db_data:
  portainer_data:

networks:
  backend: