# application-dev.yml (로컬 개발용, spring.profiles=dev 자동 활성화)
spring:
  config:
    activate:
      on-profile: dev

  # Neo4j (local bolt)
  data:
    neo4j:
      database: neo4j
  neo4j:
    uri: ${NEO4J_URI:bolt://localhost:7687}
    authentication:
      username: ${NEO4J_USERNAME}
      password: ${NEO4J_PASSWORD_DEV}

  # MariaDB (local)
  datasource:
    url: jdbc:mariadb://${MARIADB_HOST:localhost}:${MARIADB_PORT}/${MARIADB_DATABASE}
    username: ${MARIADB_USER}
    password: ${MARIADB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
<<<<<<< HEAD
=======


>>>>>>> ad4d231 (test)
