# application-prod.yml (운영용, spring.profiles=prod 자동 활성화)
spring:
  config:
    activate:
      on-profile: prod

  # Neo4j (AuraDB 등 원격 클러스터)
  neo4j:
    uri: neo4j+s://bcb4edcd.databases.neo4j.io
    authentication:
      username: ${NEO4J_USERNAME}
      password: ${NEO4J_PASSWORD}

  # MariaDB (Docker Compose 내부 네트워크)
  datasource:
    url: jdbc:mariadb://${MARIADB_HOST}:${MARIADB_PORT}/${MARIADB_DATABASE}
    username: ${MARIADB_USER}
    password: ${MARIADB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
