spring:
  # Neo4j
  neo4j:
    uri: neo4j+s://bcb4edcd.databases.neo4j.io
    authentication:
      username: neo4j
      password: ${NEO4J_PASSWORD}

  # JPA + JDBC -> Maria DB
  datasource:
    url: jdbc:mariadb://52.79.251.233:3306/user
    username: chatgraph
    password: ${MARIADB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# OpenAi 공식 SDK 사용 -> URL은 기본값, 즉 Key 값만 주입
openai:
  api:
    key: ${OPENAI_API_KEY}
  model:
    default: GPT_4_1_NANO
#   호환되는 모델
#   GPT_4_0, GPT_4_1_NANO, GPT_4_1_MINI ...


# jwt 설정
jwt:
  secret: ${JWT_SECRET_KEY}
  expiration: 3600000
